[user]
    name = Ernesto Vargas
    email = me@netoxico.com
[core]
    excludesfile = /Users/netoxico/.gitexcludes
    editor = vim
[push]
    default = current
[color]
    ui = true
[alias]
    lol = log --oneline --graph --decorate
    st = status
    d = difftool -y -t Kaleidoscope
[diff]
    tool = Kaleidoscope
[difftool]
    prompt = false
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[web]
    browser = open
